<!-- <section class="container-fluid">
  <div class="section">
    <div class="infoPerfil col-4">
      <div class="fotoPerfil">
        <img src="/assets/img/perfil.png" alt="perfil" />
      </div>
      <p class="fotoPerfil__descPerfil">
        Designer | 3D Artist | Maquetes Eletrônicas <br />
        Suelen Oliveira - Design 3D
      </p>
      <div>
        <p>Contatos:</p>
        <p>
          <span class="iconInsta"> <i class="fab fa-instagram"></i> </span>
          &nbsp;
          <a
            href="https://www.instagram.com/suelenoliveirainteriores/"
            target="_blank"
            >@suelenoliveirainteriores</a
          >
        </p>
        <p>
          <span class="iconWpp"><i class="fab fa-whatsapp"></i></span>
          &nbsp; (85) 98560-1088
        </p>
        <p>
          <span class="iconGmail"><i class="far fa-envelope"></i></span>
          &nbsp; suelenoliveiradesigner@gmail.com
        </p>
      </div>
    </div>
  </div>
</section> -->

<mat-sidenav-container>
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="80"
  >
    <span class="img-perfil">
      <img src="../../../../assets/img/perfil.png" alt="" />
    </span>
    <h1 class="nome">Suelen Oliveira</h1>
    <h2 class="about">Designer | 3D Artist | Maquetes Eletrônicas</h2>
  </mat-sidenav>
  <mat-sidenav-content> </mat-sidenav-content>
</mat-sidenav-container>
